:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --text-color: #434455;
    --light-color: #F4F4FD;
    --white-background-color: #FFFFFF;
    --accent-color: #E7E9FC;
    --border-color: #8E8F99;
    --font-family-text: 'Roboto', sans-serif;
    --second-font-family-text: 'Raleway', sans-serif;
    --hero-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

body {
    font-family: var(--font-family-text);
    color: var(--text-color);
    background-color: var(--white-background-color);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.list,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.link,
a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----Base styles for small devices------*/

.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    /* outline: 3px solid green; */
}

/*-------Tablet screen------*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
}
}

/*-----Desctop screen-----*/

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
 /*-------Header-----------*/

.header {
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    align-items: center;
    margin-right: 76px;
    text-transform: uppercase;
    font-family: var(--second-font-family-text);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--pressed-state-color);
}

@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}

.header-logo-studio {
    color: var(--navy-blue-color);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}



@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

.header-addr-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media only screen and (max-width: 767.98px) {
  .header-addr-list {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-addr-list {
    flex-direction: column;
    gap:12px

  }
}

@media only screen and (min-width: 1158px) {
    .header-addr-list {
        flex-direction: row;
        gap: 40px
    }
}

.header-link {
    font-family: var(--font-family-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-decoration: none;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active {
    color: var(--pressed-state-color);
}
.header-link.active::after,
.header-link.active::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
}

.header-link:focus,
.header-link:hover {
    color: var(--pressed-state-color);
}

.header-address {
    font-style: normal;
}

.header-addr-link {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-addr-link:focus,
.header-addr-link:hover {
    color: var(--pressed-state-color);
}

/*--------Hero-------*/

.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 112px;
    background-repeat: no-repeat;
    background-color: var(--navy-blue-color);
    background-position: center;
    background-size: cover;    
    background-image: var(--hero-gradient), url(../images/hero/people-office_mob@1.jpg);
}

/* ---Retina---- */
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
        {
        .hero {
            background-image: var(--hero-gradient), url(../images/hero/people-office_mob@2.jpg);
        }
    }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero/people-office_tab@1.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   {
    .hero {
            background-image: var(--hero-gradient), url(../images/hero/people-office_tablet@2.jpg);
        }
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: var(--hero-gradient), url(../images/hero/people-office_desk@1.jpg);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
   {
    .hero {
            background-image: var(--hero-gradient), url(../images/hero/people-office_desk@2.jpg);
        }
  }
}

/* --Tablet--- */
@media only screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-family-text);
    font-weight: bold;
    text-align: center;
    color: var(--white-background-color);
    
}

@media only screen and (max-width: 427.98px) {
    .hero-title {
        font-size: 24px;
        max-width: 240px;
        
    }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    color: var(--white-background-color);
    background-color: var(--primary-brand-color);
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: var(--pressed-state-color);
}

/*--------Prerogatives-section-------*/

.section-prerogatives {
    padding-top: 96px;
    padding-bottom: 96px;
   
}

@media only screen and (min-width: 1158px) {
  .section-prerogatives {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.prerogatives-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--light-color);
    margin-bottom: 8px;
}

@media only screen and (max-width: 1157px) {
    .prerogatives-thumb {
        display: none;
    }
}

.prerogatives-list {
  
}

@media only screen and (min-width: 768px) {
  .prerogatives-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .prerogatives-list {
    margin: 0 auto;
    gap: 24px;
  }
}



@media only screen and (max-width: 767.98px) {
    .prerogatives-item:not(:last-child) {
            margin-bottom: 72px;
        }
}

@media only screen and (min-width: 768px) {
  .prerogatives-item {
    flex-basis: calc((100% - 24px) / 2);

  }
}

@media only screen and (min-width: 1158px) {
    .prerogatives-item {
        flex-basis: calc((100% - 3*24px) / 4);

    }
}
.prerogative-name {
    font-family: var(--font-family-text);
    letter-spacing: 0.02em;
    line-height: 1.1;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;

}


@media only screen and (min-width: 1158px) {
    .prerogative-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        
    }
}

@media only screen and (min-width: 768px) {
  .prerogative-name {
    text-align: left;
  }
}
.prerogtive-text {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--text-color);
    font-weight: 500;
}


@media only screen and (min-width: 1158px) {
    .prerogative-text {
        font-weight: 400;
    }
}

/*---------Specialization-section--------*/

.specialization {
    padding-bottom: 120px;
}

@media only screen and (max-width: 1157.98px) {
  .specialization {
    display: none;
  }
}

.specialization-list {
    display: flex;
    gap: 24px;
}

.specialization-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.specialization-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
    margin-bottom: 72px;
}

/*-----Team-section------*/

.team {
    background-color: var(--light-color);
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
} 

@media only screen and (max-width: 767px) {
  .team-list {
    gap: 72px;
  }
}

.team-list {
    display: flex;
    row-gap: 64px;
    column-gap: 24px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px) / 2);
    justify-content: center;

}

@media only screen and (min-width: 1158px) {
    .team-list {
        gap: 24px;
        flex-basis: calc((100% - 72px) / 4);
    }
}

.title {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

@media only screen and (max-width: 767px) {
    .team-item {
        flex-direction: column;
        justify-content: center;
    }
}

.team-item {
    background-color: var(--white-background-color);
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        
}



@media only screen and (min-width: 768px) {
  .team-item {
    row-gap: 24px;
    column-gap: 64px;

  }
}

.team-inf {
    padding: 32px 0px;
}

.team-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
 
.team-networks-icon {
    fill: var(--light-color);
    
}
.team-networks-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-networks-item:hover,
.team-networks-item:focus {
    background-color: #31D0AA;
}
.team-name {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 8px;
}

.team-networks-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.team-networks-link:hover,
.team-networks-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------Customers-section-----------*/

.customers {
    padding: 96px 0;
    
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }
}

.customers-list {

    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 16px) / 2);
    row-gap: 72px;
    column-gap: 16px;
    justify-content: center;
    
}


@media only screen and (min-width: 768px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }
}

@media only screen and (min-width: 1158px) {
    .customers-list {
        
        gap: 24px;
        
    }
}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--border-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-link:hover,
.customers-link:focus {
    border-color:var(--pressed-state-color);
    color: var(--pressed-state-color);
}

.customers-item {
    
    width: 190px;
    height: 88px;

}

@media only screen and (min-width: 768px) {
    .customers-item {
        flex-basis: calc((100% - 48px) / 3);
        width: 168px;
        height: 88px;
    }
}

@media only screen and (min-width: 1158px) {
    .customers-item {
        flex-basis: calc((100% - 120px) / 6);

    }
}

.customers-icon:hover,
.customers-icon:focus {
    fill: var(--pressed-state-color);
    
}
.customers-icon {
    fill: currentColor;
}

/*------Footer-section-----*/

.footer {

    background-color: var(--navy-blue-color);
    padding-top: 96px;
    padding-bottom: 96px;

    /* text-align: center; */
    
}

@media only screen and (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .foot-logo-social {
    display: flex;
    /* gap:24px; */
    /* margin-left: 108px; */
    
  }
} 

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .foot-logo-social {
        gap: 24px;
        margin-left: 108px;

    }
}



@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-family: var(--second-font-family-text);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
}

.footer-logo-studio {
    color: var(--light-color);
}

.footer-text {
    width: 264px;
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.footer-container {
    /* display: flex;
    align-items: baseline; */
   
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
        align-items: baseline;
  }
}



.foot-cont-logo {
    /* margin-right: 120px; */
    margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
  .foot-cont-logo {
    margin-right: 120px;
  }
}

.foot-cont-social {
    /* margin-right: 80px; */
    margin-bottom: 72px;




/* @media only screen and (min-width: 1158px) {
  .foot-cont-social {
    margin-right: 80px;
  }
} */

}
.social-text {
    color: var(--white-background-color);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.foot-team-networks {
    display: flex;
    gap: 16px;
    justify-content: center;

}

.foot-networks-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-networks-link:hover,
.foot-networks-link:focus {
    background-color: #31d0aa;

}

.foot-networks-icon {
    fill: var(--light-color);
}

@media only screen and (min-width: 768px) {
  .form {
    display: flex;
        gap: 24px;
        
  }
}


.form {
    /* display: flex;
    gap: 24px; */
}

/* @media only screen and (min-width: 1158px) {
  .form {
    display: flex;
        gap: 24px;
  }
} */



@media only screen and (min-width: 768px) {
.form-container {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .form-container {
    
        /* padding: 0; */
        margin-left: 108px;

  }
}

.form-container {   
/* position: relative;
padding: 0; */
   
}



@media only screen and (min-width: 1158px) {
  .form-container {
    margin:0 0 0 80px;
    /* padding: 0; */
    /* position: relative;
        padding: 0; */
  }
}



.form-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background-color);
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .form-text {
    text-align: left;
  }
}

@media only screen and (max-width: 767.98px) {
  .form-label {
    width: 100%;
  }
} 

.form-input { 
   
    border-radius: 4px;
    border: 1px solid var(--white-background-color);
    background: transparent;
    /* width: 264px; */
    /* width: 100%; */
    height: 40px;
    padding-left: 16px;
    color: var(--white-background-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    margin-bottom: 16px;
}



@media only screen and (min-width: 768px) {
  .form-input {
    width: 264px;
  }
}

.form-input::placeholder {
    color: var(--white-background-color);
       
}

.form-btn {
    display: flex;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: none;
    border-radius: 4px;
    background: var(--primary-brand-color);
    color: var(--white-background-color);
    font-family: var(--font-family-text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

@media only screen and (max-width: 767.98px) {
  .form-btn {
    margin: 0 auto;
  }
}

.form-btn:focus,
.form-btn:hover {
    background-color: var(--pressed-state-color);
}

.form-icon {
    margin-left: 16px;
}

/*-----PORTFOLIO------*/


.filters-btn {
    font-family: var(--font-family-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:focus,
.filters-btn:hover {
    color: var(--white-background-color);
    background-color: var(--pressed-state-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.filters {
    padding: 96px 0 120px 0;
}

.filters-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 72px;
}

.filters-img {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.img-item {
    flex-basis: calc((100% - 48px) / 3);
}

.under-pages {
    border: 1px solid var(--accent-color);
    border-top: none;
    padding: 32px 16px;
}

.img-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}

.img-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.img-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.img-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.img-link:hover .overlay-desc {
    transform: translateY(0%);
}

.overlay {
    background-color: var(--primary-brand-color);
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.overlay-img {
    position: relative;
    overflow: hidden;
}

.overlay-img:hover .overlay {
    transform: translateY(0);
}

.overlay-desc {
    position: absolute;
    background-color: #4d5ae5;
    top: 0;
    color: var(--light-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    padding: 40px 32px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    opacity: 0; 
    transform: translateX(-50%) translateY(-80%);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    /* width: 408px; */
    width: 392px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    /* padding-left: 24px;
    padding-right: 24px; */
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px; 
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modal-icon {
    stroke: var(--navy-blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--white-background-color);
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn:hover,
.modal-btn:focus {
    border: none;
    background-color: var(--pressed-state-color);
}

.modal-strong {
    display: block;
    color: var(--navy-blue-color);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;      
}

.modal-container {
    margin-bottom: 8px;
}

.input-container {
    position: relative;
}

.modal-form-field {
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--border-color);
    margin-bottom: 4px;
    
}


.modal-form-input:focus-visible {
    outline: none;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    color: var(--border-color);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    fill: var(--primary-brand-color);
    border-color: var(--primary-brand-color);
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navy-blue-color);  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--primary-brand-color);
}

.comment-container {
    margin-bottom: 16px;
}

.modal-form-comment {
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    width: 100%;
    height: 120px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-container {
    display: flex;
    margin-bottom: 24px;
}

.modal-form-comment:focus {
    border-color: var(--primary-brand-color);
}

.modal-form-comment:focus-visible {
    outline: none;
}

.modal-form-comment::placeholder {
    color: currentColor;
}

.modal-form-agreement {
    
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--border-color);
   
}


.modal-form-custom-checkbox {
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-form-checkbox:checked + .modal-form-agreement > .modal-form-custom-checkbox {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--light-color);
}



.modal-form-link {
    color: var(--primary-brand-color);
    text-decoration: underline;
}

/*----Mobile menu-------*/


.menu-toggle {
    min-height: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.menu-toggle-icon {
    stroke: var(--navy-blue-color);
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle.close {
    
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    
}

.menu-toggle-close-icon {
    fill: var(--navy-blue-color);
    

}


.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;
    background: var(--white-background-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
   
  
}



.mobile-menu {
    width: fit-content;
    margin-bottom: auto;
    
}

.mobile-menu-item {}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    color: var(--navy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    
}


.mobile-addr-link.tel {
    color: var(--primary-brand-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 30px;   
}

@media only screen and (max-width: 427.98px) {
  .mobile-addr-link.tel {
    font-size: 24px;
  }
}


.mobile-addr-link.mail {
    color: var(--text-color);
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.1px;
    
}

.mobile-addr-list {
   

}



.mobile-addr-item {
    margin-bottom: 30px;
}

.mobile-addr-link {
   
}

.mobile-networks {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 56px;
}



.mobile-networks-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
}

@media only screen and (max-width: 427.98px) {
    .mobile-networks {
    gap: 28px;
    }
}

.mobile-networks-link {}

.mobile-networks-icon {
    fill: var(--light-color);
}


